/* =============== Styles for display on SCREEN */
@media screen { 
/* ++++++++++++++++++++ RESET TAGS +++++++++++++++++++++ */
	* {
		margin: 0;
		padding: 0;
		font-size: 98%;
		color: #000;
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
	}
	html,body {
		height: 100%;
		background: #fff;
	}
	body {
		height: 100%;
		margin: 0;
		padding: 0;
		text-align: left;
	}
	table,td,th {
		border-collapse: collapse;
		vertical-align: top;
	}
	img {
		display: block;
		border: none;
	}
	ul {
		width: auto;
		list-style: none;
	}
	li a {
		display: block;
	}
	/* ++++++++++++++++++++ End RESET TAGS ++++++++++++++++++++ */
	/* ++++++++++++++++++++ GLOBAL LAYOUT +++++++++++++++++++++ */
	body,html {
		background: #EEEEF7
	}
	/* Header divisions */
	#header {
		display: none;
	}
	/* Content divisions */
	#content-layer {
		width: 955px;
		overflow: hidden;
		padding: 0 0 20px 0;
	}
	#navigation {
		padding: 32px 10px 26px 10px;
		width: 250px;
		float: left;
		background: #006 url(../../images/FOL3/background/bg-body.gif) 0px 0px repeat-y;
	}
	#content {
		width: 640px;
		float: left;
	}
	#content .padding {
		padding: 0 190px 0 24px;
	}
	#content .padding1 {
		padding: 0 1px 0 24px;
	}
	/* ++++++++++++++++++++ End GLOBAL LAYOUT ++++++++++++++++++++ */
	/* ++++++++++++++++++++ ELEMENTS ++++++++++++++++++++ */
	/* ==================== General */
	.text-only {
		display: block;
		visibility: hidden;
		position: absolute;
		left: -9999em;
	}
	.noshow,.print {
		display: none;
	}
	div.hr {
		height: 1px;
		margin: 6px 0;
		background: #fff url(../../images/FOL3/background/hr.gif) 0 0 no-repeat;
	}
	div.hr hr {
		display: none;
	}
	/* ==================== End General */
	/* ==================== Specific for Header */
	h1,h2 {
		display: block;
		visibility: visible;
		position: absolute;
		height: 0 !important;
	}
	/* ==================== End Specific for Header*/
	/* ===================== Specific for Navigation */
	#navigation {
		
	}
	#navigation h3 {
		line-height: 1.2em;
		font-size: 1em;
		font-weight: bold;
		color: #fff;
		padding: 0 5px 0 16px;
	}
	#navigation ul {
		width: 100%;
	}
	#navigation ul li {
		line-height: 1em;
		font-size: 1em;
		color: #8080c0;
		font-weight: bold;
	}
	#navigation ul li span,#navigation ul li a,#navigation ul li strong {
		display: block;
		padding: 3px 5px 3px 16px;
	}
	#navigation ul li span.done,#navigation ul li a.done {
		background: transparent url(../../images/FOL3/icons/done.gif) 2px 5px no-repeat;
	}
	#navigation ul li span {
		color: #8080c0;
	}
	#navigation ul li a {
		color: #fff;
	}
	#navigation ul li a:hover {
		color: #ff0;
		text-decoration: underline;
	}
	#navigation ul li strong {
		color: #fff;
		background: #de2a8d;
		margin-left: 12px;
		padding: 3px 12px 3px 4px;
	}
	#navigation #numberAndLogo {
		padding-top: 10px;
		color: #d5d5ea;
		font-size: 0.63em;
	}
	#navigation #logo {
		display: block;
		margin-top: 10px;
	}
	#navigation ul li a.close {
		margin-left: 16px;
		background: transparent url(../../images/FOL3/hyperlink/close.gif) 0 0px no-repeat;
		padding: 3px 5px 3px 20px;
	}
	/* ===================== End specific for Navigation */
	/* ==================== Specific for Content ===================================================== */
	/* headers */
	#content h3 {
		font-size: 1.1em;
		color: #006;
		margin-bottom: 12px;
	}
	#content h3.attention {
		margin: 0 0 0 -24px;
		display: block;
		background: transparent url(../../images/FOL3/icons/attention.gif) 0 1px no-repeat;
		padding: 0 0 1px 24px;
	}
	#content h4 {
		font-size: 0.9em;
		color: #006;
		margin: 0 2px 0 0;
	}
	#content h4.attention {
		margin: 0 0 0 -24px;
		display: block;
		background: transparent url(../../images/FOL3/icons/attention.gif) 0 1px no-repeat;
		padding: 0 0 1px 24px;
	}
	#content h4.form-header {
		margin: 0 0 10px 0;
		background: #ee94c6;
		font-size: 1em;
		color: #006;
		padding: 2px 7px;
		/*width: 470px;*/
		border-left: 16px solid #eeeef7;
	}
	#content .attention-block h4.form-header {
		border-left: 16px solid #fff;
	}
	#content h5 {
		font-size: 1em;
		color: #006;
		margin: 0 2px 0 0;
	}
	#content h5.attention {
		margin: 0 0 0 -24px;
		display: block;
		background: transparent url(../../images/FOL3/icons/attention.gif) 0 1px no-repeat;
		padding: 0 0 1px 24px;
	}
	/* p */
	#content p {
		font-size: 1em;
		line-height: 1.4em;
		color: #006;
		padding: 0 0 8px 0;
	}
	#content .row-content p {
		padding: 0 0 2px 0;
		margin: 0 22px 0 0;
	}
	/* strong */
	#content strong {
		color: #006;
	}
	/* hyperlinks */
	#content a {
		color: #006;
	}
	#content a:hover {
		text-decoration: underline;
		color: #de2a8d;
	}
	#content p a {
		text-decoration: underline;
	}
	#content a.next {
		display: block;
		font-weight: bold;
		font-size: 1em;
		background: transparent url(../../images/FOL3/hyperlink/next.gif) 0 0 no-repeat;
		padding: 1px 0 2px 24px;
		margin-bottom: 10px;
	}
	/* images */
	#content img.inline {
		display: inline;
		vertical-align: top;
	}
	/* (un)ordered lists */
	#content ul,#content ol {
		padding: 0 40px 12px 0;
	}
	#content .row-content ul {
		padding: 0 40px 3px 0;
	}
	#content ul li {
		padding: 0 0 0 8px;
		background: transparent url(../../images/FOL3/bullet/li.gif) 0 8px no-repeat;
		line-height: 1.4em;
		font-size: 1em;
		color: #006;
	}
	#content ol li {
		margin-left: 22px;
		padding-left: 0;
		line-height: 1.4em;
		font-size: 1em;
		color: #006;
	}
	/*datalists */
	#content dl {
		width: 100%;
		overflow: hidden;
	}
	#content .datalist dl {
		background: transparent url(../../images/FOL3/background/bg-datalist.gif) 0 0 repeat-y;
	}
	#content dt {
		font-size: 1em;
		color: #006;
		display: block;
		float: left;
		width: 150px;
		margin: 0 22px 0 0;
		padding: 3px 0 3px 0;
	}
	#content dd {
		font-size: 1em;
		width: 305px;
		color: #006;
		display: block;
		float: left;
		padding: 3px 1px;
	}
	#content .datalist dd {
		width: 295px;
		padding: 3px 5px;
	}
	/* table */
	#content table th,#content table td {
		font-size: 1em;
		color: #006;
		line-height: 1.3em;
		padding-bottom: 4px;
		padding-right: 4px;
		font-weight: normal;
		text-align: left;
	}
	#content table span,#content table label,#content table strong {
		color: #006;
	}
	/* form */ /* form fields */
	#content .row-content label {
		font-size: 1em;
		color: #006;
		display: block;
		float: left;
		width: 150px;
		margin: 0 22px 0 0;
		padding: 3px 0 0 0;
	}
	#content .row-content .radiobuttons label {
		width: 260px;
		display: block;
		float: left;
		margin: 0 0 0 6px;
	}
	#content .row-content .radiobuttons label.inline {
		width: auto;
		display: inline;
		float: left;
		margin: 0 10px 0 6px;
	}
	#content .row-content label.inline {
		width: auto;
		margin: 0;
		padding: 3px 5px 0 0;
	}
	#content .row-content label.inline.left-padding {
		width: auto;
		margin: 0;
		padding: 3px 5px 0 10px;
	}
	#content .row-content label.checkbox {
		width: 430px;
		display: block;
		padding: 3px 0 0 10px;
	}
	#content input.checkbox {
		float: left;
		display: block;
		margin: 3px 0 0 0;
	}
	#content .checkboxes {
		float: left;
		width: 300px;
	}
	#content .checkboxes input,#content .checkboxes label {
		float: none;
		display: inline;
	}
	#content .checkboxes input {
		margin: 0 5px 0 0;
	}
	#content select {
		color: #006;
		border: 1px solid #8080c0;
		margin-right: 3px;
		padding: 1px 0;
		background: #fff;
	}
	#content .row-content select {
		font-size: 1em;
		color: #006;
		margin: 0 5px 0 0;
		display: block;
		float: left;
	}
	#content  .row-content select.width80 {
		width: 8em;
	}
	#content  .row-content select.width150 {
		width: 152px;
	}
	#content input.text {
		background: #fff;
		width: 230px;
		padding: 2px 0 1px 0;
		font-weight: normal;
		color: #006;
		border: 1px solid #8080c0;
	}
	#content .row-content input.text {
		font-size: 1em;
		color: #006;
		display: block;
		float: left;
		padding: 2px 0;
	}
	#content input.text.read-only {
		border: 1px solid #8080c0;
		background: #d5d5ea;
	}
	#content input.text.width55 {
		width: 55px;
	}
	#content input.text.width60 {
		width: 60px;
	}
	#content input.text.width120 {
		width: 120px;
	}
	#content input.text.width150 {
		width: 150px;
	}
	#content input.text.width280 {
		width: 280px;
	}
	#content .radiobuttons {
		width: 300px;
		float: left;
		overflow: hidden;
	}
	#content .radiobuttons input {
		display: block;
		width: auto;
		float: left;
	}
	#content .radiobuttons input {
		margin: 3px 0 0 0;
	}
	/* safari corrections for input form field */
	html[xmlns *=""] body:last-child #content .radiobuttons input {
		margin: 1px 0 0 1px;
	}
	#content .radiobuttons br {
		clear: both;
	}
	/* euro form field */
	#content span.euro {
		width: 98px;
		border: 1px solid #8080c0;
		display: block;
		padding: 2px 0 2px 0;
		background: #fff url(../../images/FOL3/icons/euro.gif) 3px center no-repeat;
	}
	#content .row span.euro {
		float: left;
	}
	#content span.euro.read-only {
		border: 1px solid #d5d5ea;
		background: #d5d5ea url(../../images/FOL3/icons/euro-read-only.gif) 3px center no-repeat;
	}
	#content span.euro input.text {
		border: 0;
		width: 82px;
		padding: 0 1px 0 0;
		margin: 0 0 0 12px;
		text-align: right;
		display: inline;
	}
	#content span.euro.read-only input.text {
		background: #d5d5ea;
	}
	/* safari corrections for euro form field */
	html[xmlns *=""] body:last-child #content span.euro {
		width: 89px;
		display: block;
		padding: 0 !important;
	}
	html[xmlns *=""] body:last-child #content span.euro input.text {
		width: 77px;
		margin: 0 0 0 12px;
	}
	/* special form field */ /* also see ie7 style sheet */
	#content span.nl {
		border: 1px solid #8080c0;
		display: block;
		float: left;
		padding: 1px 0 2px 0;
		background: #fff url(../../images/FOL3/icons/nl.gif) 3px center no-repeat;
		width: 230px;
	}
	#content span.nl input.text {
		width: 205px;
		display: inline;
		border: 0;
		padding: 0;
		margin: 1px 0 0 18px;
	}
	/* .buttons */
	#content fieldset.buttons {
		width: 100%;
		overflow: hidden;
		background: #8080c0;
		margin-bottom: 15px;
	}
	#content fieldset.buttons span {
		display: block;
	}
	#content fieldset.buttons span.left {
		float: left;
		padding: 10px 0 8px 25px;
	}
	#content fieldset.buttons span.left a.previous {
		color: #006;
		font-size: 1em;
		font-weight: bold;
		padding: 3px 15px 3px 20px;
		display: block;
		background: transparent url(../../images/FOL3/hyperlink/previous.gif) 0 2px no-repeat;
	}
	#content fieldset.buttons span.right {
		float: right;
		padding: 10px 0 8px 0;
	}
	/* also see ie7 style sheet */
	#content fieldset.buttons input {
		display: inline;
		float: left;
		padding: 2px 10px;
		margin: 0 10px 0 0;
		background: #ff0;
		color: #006;
		font-size: 1em;
		font-weight: bold;
		cursor: pointer;
	}
	#content fieldset.buttons span a {
		display: inline;
		float: left;
		padding: 3px 15px;
		margin: 0 10px 0 0;
		background: #ff0;
		color: #006;
		font-size: 1em;
		font-weight: bold;
		text-decoration: none;
	}
	/* Start specific blocks =============================================================================================*/
	/* .scroll */
	#content .scroll {
		overflow: auto;
	}
	/* ul.errorMessages & ul.warningMessages */
	#content ul.errorMessages,#content ul.warningMessages {
		padding: 5px 200px 12px 0;
	}
	#content ul.errorMessages li {
		padding: 0px 0px 5px 24px;
		margin: 0;
		background: url(../../images/FOL3/icons/error.gif) no-repeat;
		color: #de0000;
	}
	#content ul.warningMessages li {
		padding: 0px 0px 5px 24px;
		margin: 0;
		background: url(../../images/FOL3/icons/warning.gif) no-repeat;
		color: #de0000;
	}
	#content ul.errorMessages li strong,#content ul.warningMessages li strong {
		color: #de0000;
	}
	#content strong.errorMessage,#content strong.warningMessage {
		display: inline;
		width: 15px;
		height: 18px;
		text-indent: -9999px;
		background: url(../../images/FOL3/icons/error.gif) 0 3px no-repeat;
		position: absolute;
		margin: 0 0 0 -18px;
	}
	#content strong.warningMessage {
		background: url(../../images/FOL3/icons/warning.gif) 0 3px no-repeat;
	}
	/* content-header */
	#content .content-header {
		background: #de2a8d;
		color: #fff;
		padding: 8px 24px;
		font-size: 0.82em;
		margin-bottom: 25px;
	}
	#content .content-header span,#content .content-header strong {
		color: #fff;
	}
	/* attention block */
	#content .attention-block {
		background: #fff;
		padding: 15px 0;
		margin: 16px 0 20px 0;
	}
	/* table.form.table */
	#content table.form-table {
		width: 507px;
	}
	#content table.form-table.no-right-column {
		width: 389px;
	}
	/* table.form.table tr definitions */
	#content table tr.header th {
		font-weight: bold;
		vertical-align: bottom;
	}
	/* table.form.table th definitions */
	#content table.form-table th span {
		display: block;
		padding-top: 3px;
	}
	#content table.form-table th span.total {
		width: 260px;
		float: left;
	}
	/* table.form.table td definitions */
	#content table.form-table td.deduct {
		padding-bottom: 9px;
		background: transparent url(../../images/FOL3/background/minus.gif) 100% 23px no-repeat;
	} /* see ie7 style sheet */
	#content table.form-table td.add {
		padding-bottom: 9px;
		background: transparent url(../../images/FOL3/background/plus.gif) 100% 21px no-repeat;
	} /* see ie7 style sheet */ /* table.form.table column width definitions */
	#content table .width130,#content table .width325 {
		border-left: 20px solid #eeeef7;
	}
	#content table .width130 {
		width: 108px;
	}
	#content table .width325 {
		width: 305px;
	}
	#content .attention-block table .width130,#content .attention-block table .width325 {
		border-left: 20px solid #fff;
	}
	#content table.form-table .help {
		width: 24px;
	}
	/* div class="row" */
	#content .row {
		
	}
	/* overflow hidden does not work with help panel: logo is visible through panel; see also ie corrections 5.5/6/7 */
	#content .row:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
	#content .row .help {
		display: block;
		width: 22px;
		float: left;
	}
	#content .row .row-content {
		display: block;
		width: 662px;
		float: right;
		padding-bottom: 4px;
	}
	#content .row-content:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	} /* needed for autosuggest */
	#content .row  strong.errorMessage,#content .row .row-content strong.warningMessage {
		position: static;
		float: left;
		margin: 0 0 0 -18px;
	}
	#content .row span.format {
		display: block;
		padding: 3px 10px 0 3px;
		float: left;
		color: #006;
		font-size: 1em;
	}
	#content .row span.divider {
		display: block;
		padding: 3px 5px;
		float: left;
		color: #006;
		font-size: 1em;
	}
	/* .add-panel */
	#content .add-panel {
		margin: 1px 0 5px 198px;
		width: 300px;
	}
	#content .add-panel a {
		display: block;
		background: url(../../images/FOL3/hyperlink/plus-active.gif) 0 center no-repeat;
		font-size: 1em;
		font-weight: bold;
		padding: 2px 0 2px 20px;
	}
	/* #content .add-panel a.deactivated { background:url(../../images/FOL3/hyperlink/plus-not-active.gif) 0 center no-repeat; color:#666; }
			#content .add-panel a.deactivated:hover { text-decoration:none; cursor:text; } */ /* See also ie-corrections */
	#content a.remove-panel {
		float: right;
		display: inline;
		margin: 4px 320px 0 0;
		background: url(../../images/FOL3/hyperlink/minus.gif) 0 0 no-repeat;
		width: 14px;
		height: 14px;
	}
	#content a.remove-panel.right240 {
		margin: 4px 240px 0 3px;
	}
	/* autosuggest */
	#content .autosuggest-panel {
		font-size: 1em;
		background: #fff;
		border: 1px solid #999;
		position: absolute;
		overflow: auto;
		border-top: none;
	}
	/* safari corrections for input form field */
	html[xmlns *=""] body:last-child #content .autosuggest-panel {
		margin: 20px 0 0 172px;
	}
	#content .autosuggest-panel a {
		display: block;
		padding: 2px 4px;
		cursor: pointer;
	}
	#content .autosuggest-panel a:hover,#content .autosuggest-panel a.autosuggest-item-highlighted {
		text-decoration: none;
		color: #fff;
		background: #0A246A;
		cursor: pointer;
	}
	#content .autosuggest-values {
		background: #fff;
		margin: 0 0 0 172px;
		width: 200px;
		clear: both;
		border: 1px solid #333;
	}
	#content .autosuggest-values ul {
		padding: 0;
	}
	#content .autosuggest-values ul li {
		background: #fff;
		font-size: 1em;
		color: #006;
		padding: 0 4px;
		display: block;
		list-style: none;
	}
	/* Help */
	#content .row .help #helpPanel {
		font-size: 1em;
	}
	#content a.help-link {
		display: block;
		height: 15px;
		width: 15px;
		background: url(../../images/FOL3/hyperlink/help.gif) 0 0 no-repeat;
		margin-top: 2px;
	}
	#content a.help-link:hover,#content a.help-link.focus {
		background: url(../../images/FOL3/hyperlink/help-focus.gif) 0 0 no-repeat;
	}
	#helpPanel {
		position: absolute;
		z-index: 999;
		left: 15px;
		top: 0px;
		width: 220px;
		background: #feffaf;
		padding: 0 20px 15px 15px;
	}
	#helpPanel h5 {
		color: #fff;
		margin: 1px -19px 10px -14px;
		background: #8080c0;
		padding: 1px 20px 1px 15px;
		font-size: 100%;
		line-height: 1.3em;
	}
	#helpPanel p {
		color: #006;
		padding-bottom: 8px;
		font-size: 100%;
	}
	#helpPanel strong,#helpPanel a {
		color: #006;
	}
	#helpPanel p a,#helpPanel a:hover {
		text-decoration: underline;
	}
	#helpPanel ul,#helpPanel ol {
		margin: 0;
		padding: 0;
	}
	#helpPanel ul li {
		padding-left: 8px;
		font-size: 100%;
		background: transparent url(../../images/FOL3/bullet/li.gif) 0 8px no-repeat;
		color: #006;
	}
	#helpPanel ol li {
		margin-left: 22px;
		padding-left: 0;
		color: #006;
	}
	#helpPanel li li {
		font-size: 100%;
	}
	#content a#closeHelp {
		outline: none;
		display: block;
		position: absolute;
		z-index: 999;
		left: 254px;
		top: 0px;
		height: 15px;
		width: 15px;
		background: #006 url(../../images/FOL3/hyperlink/close-help.gif) 0 0 no-repeat;
	}
	#content a#closeHelp :hover,#content a#closeHelp.focus {
		background: #006 url(../../images/FOL3/hyperlink/close-help-focus.gif) 0 0 no-repeat;
	}
	/* END specific blocks ============================================================================================= */
	/* ==================== End Specific for Content*/
	/* ++++++++++++++++++++ End ELEMENTS ++++++++++++++++++++ */
}  /* =============== End of Styles for display on SCREEN */
/* Opera 9 hacks */
@media all and (min-width:0px) {
	head ~body #content .radiobuttons label {
		margin: 2px 0 0 6px;
	}
	head ~body #content input.checkbox {
		margin: 1px 0 0 0;
	}
}
/* END Opera 9 hacks */ /* =============== Styles for PRINT */
@media print {
	* {
		font-size: 100%;
		color: #000;
		text-decoration: none;
		font-family: Arial, Helvetica, sans-serif;
	}
	html,body {
		background: #fff;
	}
	.text-only,#utilities,#navigation,a.back,a.next,fieldset.buttonSet {
		display: none;
	}
} /* =============== End of styles for PRINT */

	#content fieldset {
	
	  
	