/* =============== Styles for display on SCREEN */
@media screen {
	/* ==================== General */
	html, body { background:#e8edec; }
	div.hr { background:#fff url(../../images/FOL3/background/hr-green.gif) 0 0 no-repeat;  }
	/* ==================== End General */
	
	#content h3 { background:#ffd20b; color:#1e5046;  }	
	#content h4 { color:#1e5046;  }
		#content h4.attention { background:transparent url(../../images/FOL3/icons/attention-green.gif) 0 1px no-repeat; }
		
	#content p { color:#1e5046; }
	#content strong { color:#1e5046; }
	
	#content a { color:#1e5046; }
		#content a:hover {color:#733434;  }
		
	#content ul li h5 { color:#1e5046; }
	#content ul li h5 a { color:#1e5046; background:transparent url(../../images/FOL3/hyperlink/next-green.gif) 0 center no-repeat; }
	
	/* .buttons */
	#content fieldset.buttons { background:#688a83;  }
		#content fieldset.buttons a { background:#ffd20b; color:#1e5046; } 
	
} /* =============== End of Styles for display on SCREEN */

