/* =============== Styles for display on SCREEN */
@media screen {
	/* ==================== General */
	html, body { background:#fff; }
	div.hr { background:#fff url(../../images/FOL3/background/hr-red.gif) 0 0 no-repeat;  }
	/* ==================== End General */
	
	#content h3 { background:#733434; color:#fff; }	
	#content h4 { color:#733434;  }
		#content h4.attention { background:transparent url(../../images/FOL3/icons/attention-red.gif) 0 1px no-repeat; }
		
	#content p { color:#733434; }
	#content strong { color:#733434; }
	
	#content a { color:#733434; }
		#content a:hover { color:#f00;  }
		
	#content ul li h5 { color:#733434; }
	#content ul li h5 a { color:#733434; background:transparent url(../../images/FOL3/hyperlink/next-red.gif) 0 center no-repeat; }
	
	/* .buttons */
	#content fieldset.buttons { background:#f2b89c;  }
		#content fieldset.buttons a { background:#ffd20b; color:#733434; } 
	
} /* =============== End of Styles for display on SCREEN */

