/* =============== IE-only styles for correction of browser IE 5.5 & 6 corrections */
/* =============== Styles for display on SCREEN */
@media screen {
	/* ++++++++++++++++++++ RESET TAGS +++++++++++++++++++++ */ 
	li a, li span, li a, li strong { height:1% !important; } /* This corrects the huge white-space that IE on Windows adds to the bottom of linked list-items (=IE bug) */ 
	a span, a strong, fieldset.buttons input , a:hover span, a:hover strong, { cursor:hand; } 
	/* ++++++++++++++++++++ End RESET TAGS ++++++++++++++++++++ */
	
	/* ++++++++++++++++++++ GLOBAL LAYOUT +++++++++++++++++++++ */
	#content-layer { height:1%; overflow:visible;}  /* with overfow:hidden; logo is not displayed on short pages; height:1%; fixes clear float; */
	#navigation { width:250px !important; width /**/:270px; }
		#navigation ul li { margin-left:0px !important; margin-left /**/:-16px; }	
	/* ++++++++++++++++++++ End GLOBAL LAYOUT ++++++++++++++++++++ */
	
	/* ++++++++++++++++++++ ELEMENTS ++++++++++++++++++++ */
	/* headers */
	#content h4.form-header { width:470px !important; width /**/:500px; } 
	
	/*datalists */
	#content .datalist dd { width:295px !important; width /**/:305px;  }
		
	/* form */
	#content span.nl { padding:2px 0 1px 0 !important; padding /**/:0;  }
		#content span.nl input.text { margin:0 0 0 18px !important; margin /**/:2px 0 0 18px;  }
	#content .radiobuttons input { margin:2px 0 0 0; }
		#content .row-content .radiobuttons label.inline { margin:0; padding:4px 8px 0 5px; }
	#content .row-content .radiobuttons label { margin:1px 0 0 4px; padding-left:2px; }
		
	#content input.checkbox { margin:0; }
		#content .checkboxes input { margin:0 3px 0 0; }
	
	/* table.form-table */
	#content table.form-table span.euro { padding:1px 0 1px 0 !important; padding /**/:1px 0 0 0; width:98px !important; width /**/:100px; }
	
	#content table.form-table td.deduct { background:transparent url(../../images/FOL3/background/minus.gif) 100% 24px no-repeat !important; } 
	#content table.form-table td.add { background:transparent url(../../images/FOL3/background/plus.gif) 100% 22px no-repeat !important; }
	
	/* .row */
	#content .row { height:1%; }
	
	/* autosuggest */	
	#content .autosuggest-panel { overflow-x:hidden;  }
	
	/* Help */
	#helpPanel {width:220px !important; width /**/:255px; }
	/* ++++++++++++++++++++ END ELEMENTS ++++++++++++++++++++ */
} /* =============== End of Styles for display on SCREEN */
