/* =============== Styles for display on SCREEN */
@media screen {
	/* ++++++++++++++++++++ GLOBAL LAYOUT +++++++++++++++++++++ */
	body, html { background:#fff url(../../images/FOL3/background/bg-body-red.gif) 0px 0px repeat-y; }
		#navigation { background:#cd3232 url(../../images/FOL3/background/bg-body-red.gif) 0px 0px repeat-y; }
	/* ++++++++++++++++++++ End GLOBAL LAYOUT ++++++++++++++++++++ */

	
	/* ++++++++++++++++++++ ELEMENTS ++++++++++++++++++++ */
	/* ==================== General */
	div.hr { background:#fff url(../../images/FOL3/background/hr-red.gif) 0 0 no-repeat;  }
	/* ==================== End General */

	/* ===================== Specific for Navigation */
	#navigation h3 { color:#fff; }
	#navigation ul li { color:#f2b89c; } 
		#navigation ul li span { color:#f2b89c; } 
			#navigation ul li span.done, #navigation ul li a.done { background:transparent url(../../images/FOL3/icons/done-red.gif) 2px 5px no-repeat;  }
		#navigation ul li a { color:#fff; }
			#navigation ul li a:hover { color:#ffd20b; }
		
		#navigation ul li strong { color:#fff; background:#733434;  }
		
		#navigation #numberAndLogo { color:#f2b89c; }
			
		#navigation ul li a.close { background:transparent url(../../images/FOL3/hyperlink/close-red.gif) 0 0px no-repeat; }
	/* ===================== End specific for Navigation */	
	
	/* ==================== Specific for Content ===================================================== */
	/* headers */
	#content h3 { color:#733434; }
		#content h3.attention { background:transparent url(../../images/FOL3/icons/attention-red.gif) 0 1px no-repeat; }
	
	#content h4 { color:#733434;  }
		#content h4.attention { background:transparent url(../../images/FOL3/icons/attention-red.gif) 0 1px no-repeat; }
		#content h4.form-header { background:#f2b89c; color:#733434; border-left:16px solid #fff; }
			#content .attention-block h4.form-header { border-left:16px solid #fcf0ea; }
			
	#content h5 { color:#733434; }
		#content h5.attention { background:transparent url(../../images/FOL3/icons/attention-red.gif) 0 1px no-repeat; }
	
	/* p */	
	#content p { color:#733434; }
	
	/* strong */
	#content strong { color:#733434; } 
	
	/* hyperlinks */
	#content a { color:#733434; }
		#content a:hover { color:#f00;  }
		#content a.next { background:transparent url(../../images/FOL3/hyperlink/next-red.gif) 0 0 no-repeat;}
	
	/* (un)ordered lists */
	#content ul li { background:transparent url(../../images/FOL3/bullet/li-red.gif) 0 8px no-repeat; color:#733434; }
	#content ol li { color:#733434; }
	
	/*datalists */
	#content .datalist dl { background:transparent url(../../images/FOL3/background/bg-datalist-red.gif) 0 0 repeat-y; }
		#content dt { color:#733434; }
		#content dd { color:#733434; }
		
	/* table */
	#content table th, #content table td  { color:#733434; }
		#content table span, #content table label, #content table strong { color:#733434; }		
		
	/* form */
		/* form fields */
		#content .row-content label {  color:#733434;  }
		#content select { color:#733434; border:1px solid #733434; background:#fff; }
			#content .row-content select { color:#733434; }
		#content input.text { background:#fff; color:#733434; border:1px solid #733434; }
			#content .row-content input.text { color:#733434; }
			#content input.text.read-only { border:1px solid #733434; background:#f8dcce; }
		
			/* euro form field */
			#content span.euro { border:1px solid #733434;  } 
				#content span.euro.read-only {  border:1px solid #f8dcce; background:#f8dcce url(../../images/FOL3/icons/euro-read-only-red.gif) 3px center no-repeat;  }
					#content span.euro.read-only input.text { background:#f8dcce; }
			
			/* special form field */ /* also see ie7 style sheet */	
			#content span.nl { border:1px solid #733434; background:#fff url(../../images/FOL3/icons/nl-red.gif) 3px center no-repeat;  }
			
		/* .buttons */
		#content fieldset.buttons { background:#f2b89c; }
			#content fieldset.buttons span.left a.previous { color:#733434; background:transparent url(../../images/FOL3/hyperlink/previous-red.gif) 0 2px no-repeat;}
				/* also see ie7 style sheet */	
				#content fieldset.buttons input { background:#ffd20b; color:#733434;  }
				#content fieldset.buttons span a { background:#ffd20b; color:#733434; } 
	
	/* Start specific blocks =============================================================================================*/
	/* content-header */
	#content .content-header { background:#733434; color:#fff; }	
		#content .content-header span, #content .content-header strong { color:#fff;  }
	
	/* attention block */
	#content .attention-block { background:#fcf0ea; }
		
	/* table.form.table */
		/* table.form.table column width definitions */
		#content table .width130, #content table .width325 { border-left:20px solid #fff; }	
			#content .attention-block table .width130, #content .attention-block table .width325  { border-left:20px solid #fcf0ea; }	
			
	/* div class="row" */
	#content .row span.format { color:#733434; }
	#content .row span.divider { color:#733434; }
	
	/* .add-panel */
	#content .add-panel a { background:url(../../images/FOL3/hyperlink/plus-active-red.gif) 0 center no-repeat; }
		/* See also ie-corrections */
		#content a.remove-panel {  background:url(../../images/FOL3/hyperlink/minus-red.gif) 0 0 no-repeat; }
		
	/* autosuggest */	
	#content .autosuggest-panel { background:#fff; border: 1px solid #999; }
		#content .autosuggest-panel a:hover, #content .autosuggest-panel a.autosuggest-item-highlighted { color:#fff; background:#0A246A; }
		
		#content .autosuggest-values { background:#fff; border:1px solid #333;}
			#content .autosuggest-values ul li { background:#fff; color:#733434; }		
			
	/* Help */
	#content a.help-link { background:url(../../images/FOL3/hyperlink/help-red.gif) 0 0 no-repeat; }
		#content a.help-link:hover, #content a.help-link.focus { background:url(../../images/FOL3/hyperlink/help-focus-red.gif) 0 0 no-repeat; }
	#helpPanel { background:#ffffaf; }
		#helpPanel h5 { color:#733434; background:#f2b89c; }
		#helpPanel p { color:#733434; }
			#helpPanel strong, #helpPanel a { color:#733434; } 
			#helpPanel ul li { background:transparent url(../../images/FOL3/bullet/li-red.gif) 0 8px no-repeat; color:#733434; }
			#helpPanel ol li { color:#733434; }
	#content a#closeHelp { background:#733434 url(../../images/FOL3/hyperlink/close-help-red.gif) 0 0 no-repeat; }
		#content a#closeHelp:hover, #content a#closeHelp.focus { background:#733434 url(../../images/FOL3/hyperlink/close-help-focus-red.gif) 0 0 no-repeat; }
	/* END specific blocks ============================================================================================= */
	/* ==================== End Specific for Content*/
	/* ++++++++++++++++++++ End ELEMENTS ++++++++++++++++++++ */
} 
