#content .tab ul {
	border-bottom: 1px solid #1e5046;
}

#content .tab ul li {
	background: #1e5046; 
	border:1px solid #1e5046;
	border-bottom: none;
}

#content .tab ul li.current {
	border:1px solid #1E5046;
	border-bottom: none;
	background:#FFD20B none repeat scroll 0 0;
	color:#1E5046;
}
#content .tab ul li.current a {
	background:#FFD20B none repeat scroll 0 0;
	color:#1E5046; 
}
#content .tab ul li.current a:hover { 
	background:#FFD20B none repeat scroll 0 0;
	color:#1E5046; 
}

#content .tab ul li strong {
	background:#FFD20B none repeat scroll 0 0;
	color:#1E5046;
}

#content .droptabdiv table { 
	background:#1e5046; 
	border: 1px solid #1e5046;
	
}

#content .droptabdiv td { 
	background:#1e5046;
}



/* class applied to TOP tab item while the tab is open */
#content-tab a.subtabfocus, 
#content-tab li.active a.subtabfocus {
	background-color:#1e5046; 
}

/* class applied to tab item which has a subtab currently open */
#content .droptabdiv a.subtabfocus {
	background-color:#1e5046;
}

#content #tabular th { background-color:#a2b7b3; }

#content #tabular tr.wit:hover { background-color:#ced9d6; }
#content #tabular1 tr.wit:hover { background-color:#ced9d6; }


